@model Optel2.Models.FilmRecipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FilmRecipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Article)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thickness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thickness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NozzleInsert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NozzleInsert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NozzleInsertAlternative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NozzleInsertAlternative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoolingLip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoolingLip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Output)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Output)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalibrationDiameter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalibrationDiameter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtruderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtruderId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
