@model Optel2.Models.FilmRecipe

@{
    ViewBag.Title = "Edit film recipe data";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Article, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Article, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.Article, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Thickness, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Thickness, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.Thickness, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NozzleInsert, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NozzleInsert, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.NozzleInsert, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoolingLip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CoolingLip, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.CoolingLip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductionSpeed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductionSpeed, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.ProductionSpeed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CalibrationDiameter, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CalibrationDiameter, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.CalibrationDiameter, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExtruderId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
				@Html.DropDownListFor(model => model.ExtruderId, ViewBag.Extruders as IEnumerable<SelectListItem>, new { @class = "form-control", data_val = "false" })
				@Html.ValidationMessageFor(model => model.ExtruderId, "", new { @class = "text-danger" })
            </div>
        </div>

		<div class="form-group">
			<div class="row" style="padding-left: 15px;">
				<div class="col-auto">
					<a href="javascript:document.getElementById('editForm').submit()" class="btn btn-dark left-menu-btn"><div class="float-left"><img src="~/Images/Menu/save.png" width="24px" height="24px">&nbsp;Save</div></a>
				</div>
				<div class="col-auto">
					<a href="@Url.Action("Index")" class="btn btn-dark left-menu-btn"><div class="float-left"><img src="~/Images/Menu/cancel.png" width="24px" height="24px">&nbsp;Cancel</div></a>
				</div>
			</div>
		</div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
