@model Optel2.Models.PlanningModel

@{
	ViewBag.Title = "Planning results";
}

<style>
	.anychart-credits-text {
		display: none;
	}

	.anychart-credits-logo {
		display: none;
	}
</style>
<div id="container"></div>
@{
	if (ViewBag.Criteria == "Cost")
	{
		<div>Required currency to execute plan: @ViewBag.Result$</div>
	}
	else
	{
		<div>Required time to execute plan: @ViewBag.Result1 </div>
	}
}
<script type="text/javascript">
	anychart.onDocumentReady(function () {
		// create data tree
		console.log(@Html.Raw(ViewBag.JsonString))
		var treeData = anychart.data.tree(@Html.Raw(ViewBag.JsonString), 'as-table');
		// create resource gantt chart
		var chart = anychart.ganttResource();
			// set data for the chart
			chart.data(treeData);
		chart.dataGrid().rowOddFill('#fff');
		chart.dataGrid().rowEvenFill('#fff');
		chart.getTimeline().rowOddFill('#fff');
		chart.getTimeline().rowEvenFill('#fff');
		chart.splitterPosition(150);
		var scale = chart.xScale();
		scale.minimum(Date.UTC(@(Model.PlannedStartDate.Year), @(Model.PlannedStartDate.Month-1), @(Model.PlannedStartDate.Day)));
		scale.maximum(Date.UTC(@(Model.PlannedEndDate.Year), @(Model.PlannedEndDate.Month-1), @(Model.PlannedEndDate.Day)));
		var timeline = chart.getTimeline();

		// getting timeline's tooltip
		var tlTooltip = timeline.tooltip();

		tlTooltip.titleFormat(function () {
			return this['name'];
		});

		tlTooltip.format(function () {
			var hoveredPeriod = this['period'];

			if (hoveredPeriod) {
				var hoveredPeriodIndex = this['periodIndex'] + 1;

				// Getting period object's fields.
				var startDate = new Date(hoveredPeriod['start']).toUTCString();

				// Getting period object's field.
				var endDate = new Date(hoveredPeriod['end']).toUTCString();

				return 'Order: ' + hoveredPeriod['id'].split("_", 2)[0] + '\nStart date: ' + startDate + '\nEnd date: ' + endDate;
			} else {
				return 'No data under cursor.';
			}
		});


			// get chart data grid link to set column settings
			var dataGrid = chart.dataGrid();

			// set first column settings
			dataGrid.column(0)
                .title('#')
                .width(30)
                .labels({hAlign: 'center'});

        // set second column settings
        dataGrid.column(1)
                .title('Extruder')
                .width(120);

			// set container id for the chart
			chart.container('container');
        // initiate chart drawing
        chart.draw();
		document.getElementById('container').style.height = "500px";
	});
</script>

@section Scripts {
	@Scripts.Render("~/bundles/anychart")
}
