@model Optel2.Models.Extruder

@{
	ViewBag.Title = "Details of extruder data";
}

<h2>Details of extruder data</h2>

<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			Min allowed width
		</dt>

		<dd>
			@Html.DisplayFor(model => model.WidthMin)
		</dd>

		<dt>
			Max allowed width
		</dt>

		<dd>
			@Html.DisplayFor(model => model.WidthMax)
		</dd>

		<dt>
			Min allowed thickness
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ThicknessMin)
		</dd>

		<dt>
			Max allowed thickness
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ThicknessMax)
		</dd>

		<dt>
			Min allowed production speed
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ProductionSpeedMin)
		</dd>

		<dt>
			Max allowed production speed
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ProductionSpeedMax)
		</dd>

		<dt>
			Min allowed diameter
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DiameterMin)
		</dd>

		<dt>
			Max allowed diameter
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DiameterMax)
		</dd>

		<dt>
			Min allowed weight
		</dt>

		<dd>
			@Html.DisplayFor(model => model.WeightMin)
		</dd>

		<dt>
			Max allowed weight
		</dt>

		<dd>
			@Html.DisplayFor(model => model.WeightMax)
		</dd>

		<dt>
			Min allowed length
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LengthMin)
		</dd>

		<dt>
			Max allowed length
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LengthMax)
		</dd>

		<dt>
			Width adjustment duration
		</dt>

		<dd>
			@Html.DisplayFor(model => model.WidthAdjustmentTime)
		</dd>

		<dt>
			Change of thickness duration
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ChangeOfThicknessTime)
		</dd>

		<dt>
			Width adjustment consumption
		</dt>

		<dd>
			@Html.DisplayFor(model => model.WidthAdjustmentConsumption)
		</dd>

		<dt>
			Change of thickness consumption
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ChangeOfThicknessConsumption)
		</dd>

		<dt>
			Startup delay
		</dt>

		<dd>
			@Html.DisplayFor(model => model.StartupDelay)
		</dd>

		<dt>
			Machine hour cost
		</dt>

		<dd>
			@Html.DisplayFor(model => model.MachineHourCost)
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
