@model IEnumerable<Optel2.Models.Extruder>

@{
    ViewBag.Title = "Extruders data";
}

<h2>Extruders data</h2>

<p>
    @Html.ActionLink("Create new extruder data", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Allowed width
        </th>
        <th>
            Allowed thickness
        </th>
        <th>
            Allowed production speed
        </th>
        <th>
			Machine hour cost
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WidthMin) - @Html.DisplayFor(modelItem => item.WidthMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThicknessMin) - @Html.DisplayFor(modelItem => item.ThicknessMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionSpeedMin) - @Html.DisplayFor(modelItem => item.ProductionSpeedMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MachineHourCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) <br>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) <br>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
