@model Optel2.Models.Order

@{
    ViewBag.Title = "Edit order data";
}

<h2>Edit order data</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
			<div class="control-label col-md-2">
				<b>Order number</b>
			</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderNumber, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.Product, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Width, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.Width, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			<div class="control-label col-md-2">
				<b>Setup time</b>
			</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SetupTime, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.SetupTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			<div class="control-label col-md-2">
				<b>Production time</b>
			</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductionTime, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.ProductionTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			<div class="control-label col-md-2">
				<b>Production interruption time</b>
			</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductionInterruptionTime, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.ProductionInterruptionTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			<div class="control-label col-md-2">
				<b>Total time</b>
			</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalTime, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.TotalTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			<div class="control-label col-md-2">
				<b>Finished goods</b>
			</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinishedGoods, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.FinishedGoods, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Granules, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Granules, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.Granules, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Waste, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Waste, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.Waste, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			<div class="control-label col-md-2">
				<b>Quanity in running meter</b>
			</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuanityInRunningMeter, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.QuanityInRunningMeter, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			<div class="control-label col-md-2">
				<b>Roll weight net</b>
			</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.RollWeightNet, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.RollWeightNet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rolls, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rolls, new { htmlAttributes = new { @class = "form-control", data_val = "false" } })
                @Html.ValidationMessageFor(model => model.Rolls, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
