@model IEnumerable<Optel2.Models.Order>

@{
	ViewBag.Title = "Orders data";
}

<h2>Orders data</h2>

<p>
	@Html.ActionLink("Create new order data", "Create")
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.OrderNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Product)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Width)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.RollWeightNet)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rolls)
			</th>
			<th></th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td data-label="@Html.DisplayNameFor(model => model.OrderNumber)">
				<br />
				@Html.DisplayFor(modelItem => item.OrderNumber)
			</td>
			<td data-label="@Html.DisplayNameFor(model => model.Product)">
				<br />
				@Html.DisplayFor(modelItem => item.Product)
			</td>
			<td data-label="@Html.DisplayNameFor(model => model.Width)">
				<br />
				@Html.DisplayFor(modelItem => item.Width)
			</td>
			<td data-label="@Html.DisplayNameFor(model => model.RollWeightNet)">
				<br />
				@Html.DisplayFor(modelItem => item.RollWeightNet)
			</td>
			<td data-label="@Html.DisplayNameFor(model => model.Rolls)">
				<br />
				@Html.DisplayFor(modelItem => item.Rolls)
			</td>
			<td>
					  @Html.ActionLink("Edit", "Edit", new { id=item.Id }) <br>
					  @Html.ActionLink("Details", "Details", new { id=item.Id }) <br>
					  @Html.ActionLink("Delete", "Delete", new { id=item.Id })
			 </td>
		</tr>
	}

</table>
