@model IEnumerable<Optel2.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetupTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionInterruptionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishedGoods)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Granules)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Waste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuanityInRunningMeter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RollWeightNet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rolls)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetupTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionInterruptionTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishedGoods)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Granules)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Waste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuanityInRunningMeter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RollWeightNet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rolls)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
