@model IPagedList<Optel2.Models.Order>

@{
	ViewBag.Title = "Orders data";
}
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Common;
@using System.Web.Configuration;
@using Optel2.Models;

<div class="row">
	<div class="col-auto">
		<a href="@Url.Action("Create")" class="btn btn-dark left-menu-btn"><div class="float-left"><img src="~/Images/Menu/add.png" width="24px" height="24px">&nbsp;Create new order data</div></a>
	</div>
</div>

<table class="custom-table desktop-ver">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.First().OrderNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().Product)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().Width)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().RollWeightNet)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.First().Rolls)
			</th>
			<th></th>
		</tr>
	</thead>
	@foreach (Order item in ViewBag.PageContent)
	{
		<tr>
			<td>
				@Html.DisplayFor(model => item.OrderNumber)
			</td>
			<td>
				@Html.DisplayFor(model => item.Product)
			</td>
			<td>
				@Html.DisplayFor(model => item.Width)
			</td>
			<td>
				@Html.DisplayFor(model => item.RollWeightNet)
			</td>
			<td>
				@Html.DisplayFor(model => item.Rolls)
			</td>
			<td>
				<a href="@Url.Action("Edit", new { id=item.Id })" title="Edit"><img src="/Images/Menu/edit.png" width="24px" height="24px"></a>
				<a href="@Url.Action("Details", new { id=item.Id })" title="Details"><img src="~/Images/Menu/info.png" width="24px" height="24px"></a>
				<a href="@Url.Action("Delete", new { id=item.Id })" title="Delete"><img src="~/Images/Menu/delete.png" width="24px" height="24px"></a>
			</td>
		</tr>
	}
</table>
<div class="row justify-content-center mobile-ver">
	@foreach (Order item in ViewBag.PageContent)
	{
		<div class="col-auto mt-3">
			<table class="custom-table-horizontal">
				<tr>
					<td style="vertical-align: middle;" colspan="2">
						<a href="@Url.Action("Edit", new { id=item.Id })" title="Edit"><img src="/Images/Menu/edit.png" width="24px" height="24px"></a>
						<a href="@Url.Action("Details", new { id=item.Id })" title="Details"><img src="~/Images/Menu/info.png" width="24px" height="24px"></a>
						<a href="@Url.Action("Delete", new { id=item.Id })" title="Delete"><img src="~/Images/Menu/delete.png" width="24px" height="24px"></a>
					</td>
				</tr>
				<tr>
					<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => item.OrderNumber)&nbsp;&nbsp;</th>
					<td>&nbsp;&nbsp;@Html.DisplayFor(model => item.OrderNumber)&nbsp;&nbsp;</td>
				</tr>
				<tr>
					<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => item.Product)&nbsp;&nbsp;</th>
					<td>&nbsp;&nbsp;@Html.DisplayFor(model => item.Product)&nbsp;&nbsp;</td>
				</tr>
				<tr>
					<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => item.Width)&nbsp;&nbsp;</th>
					<td>&nbsp;&nbsp;@Html.DisplayFor(model => item.Width)&nbsp;&nbsp;</td>
				</tr>
				<tr>
					<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => item.RollWeightNet)&nbsp;&nbsp;</th>
					<td>&nbsp;&nbsp;@Html.DisplayFor(model => item.RollWeightNet)&nbsp;&nbsp;</td>
				</tr>
				<tr>
					<th>&nbsp;&nbsp;@Html.DisplayNameFor(model => item.Rolls)&nbsp;&nbsp;</th>
					<td>&nbsp;&nbsp;@Html.DisplayFor(model => item.Rolls)&nbsp;&nbsp;</td>
				</tr>
			</table>
		</div>
	}
</div>
<br />
@Html.PagedListPager((IPagedList)ViewBag.PageContent, page => Url.Action("Index", new { page = page }),
	new PagedListRenderOptions
	{
		LiElementClasses = new string[] { "page-item" },
		PageClasses = new string[] { "page-link" },
		MaximumPageNumbersToDisplay = Convert.ToInt32(WebConfigurationManager.AppSettings["MaxPagesInIndexPaginator"]),
		DisplayLinkToFirstPage = PagedListDisplayMode.Never,
		DisplayLinkToLastPage = PagedListDisplayMode.Never,
		DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
		DisplayLinkToNextPage = PagedListDisplayMode.Always,
		DisplayEllipsesWhenNotShowingAllPageNumbers = false
	})
