@model Optel2.Models.ExtruderCoolingLipChange

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExtruderCoolingLipChange</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoolingLip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoolingLip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtruderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtruderId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
