@model Optel2.Models.Order

@{
    ViewBag.Title = "Details of order data";
}

<h2>Details of order data</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			Order number
		</dt>

		<dd>
			@Html.DisplayFor(model => model.OrderNumber)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Product)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Product)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Width)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Width)
		</dd>

		<dt>
			Setup time
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SetupTime)
		</dd>

		<dt>
			Production time
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ProductionTime)
		</dd>

		<dt>
			Production interruption time
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ProductionInterruptionTime)
		</dd>

		<dt>
			Total time
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TotalTime)
		</dd>

		<dt>
			Finished goods
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FinishedGoods)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Granules)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Granules)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Waste)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Waste)
		</dd>

		<dt>
			Quanity in running meter
		</dt>

		<dd>
			@Html.DisplayFor(model => model.QuanityInRunningMeter)
		</dd>

		<dt>
			Roll weight net
		</dt>

		<dd>
			@Html.DisplayFor(model => model.RollWeightNet)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Rolls)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Rolls)
		</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
