<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Optel - @ViewBag.Title</title>
	@Styles.Render("~/Content/css")
</head>
<body>
	<div class="top-menu row">
		<div class="col">
			<img src="~/Images/favicon.png" width="48px" height="48px" />
		</div>
		<div class="col-9">
			@Html.Partial("_LoginPartial")
		</div>
	</div>
	<div class="row">
		<div class="col-2 left-page">
			<a href="#" class="btn btn-dark"><img src="~/Images/favicon.png" width="32px" height="32px"/>&nbsp;Edit extruder nozzle data</a>
		</div>
		<div class="col right-page">
			@RenderBody()
		</div>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
