<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Optel - @ViewBag.Title</title>
	@Styles.Render("~/Content/css")
</head>
@functions {
	public class MenuItem
	{
		public string icon { get; set; }
		public string url { get; set; }
		public string text { get; set; }
	}
}

@(            ViewBag.MenuItems = new List<MenuItem>() {
                new MenuItem() { icon = "/Images/Menu/calibration-data.png", text = "Edit extruders calibration data", url = "/ExtruderCalibrationChanges/"},
                new MenuItem() { icon = "/Images/Menu/nozzle.png", text = "Edit extruders nozzle data", url = "/ExtruderNozzleChanges/"},
                new MenuItem() { icon = "/Images/Menu/cooling_lip.png", text = "Edit extruders cooling lip data", url = "/ExtruderCoolingLipChanges/"},
                new MenuItem() { icon = "/Images/Menu/extruder_recipe.png", text = "Edit extruders recipe data", url = "/ExtruderRecipeChanges/"},
                new MenuItem() { icon = "/Images/Menu/extruder.png", text = "Edit extruders", url = "/Extruders/"},
                new MenuItem() { icon = "/Images/Menu/film_recipe_cost.png", text = "Edit film recipe costs", url = "/FilmRecipeCosts/" },
                new MenuItem() { icon = "/Images/Menu/film_recipe.png", text = "Edit film recipes", url = "/FilmRecipes/" },
                new MenuItem() { icon = "/Images/user_m.png", text = "Edit customers", url = "/Customers/" },
                new MenuItem() { icon = "/Images/Menu/order.png", text = "Edit orders", url = "/Orders/" },
                new MenuItem() { icon = "/Images/Menu/planning.png", text = "Planning", url = "/Planning/Config" }
                });)
<body>
	<div class="top-menu row justify-content-between align-items-center">
		<div class="col-auto">
			<div class="row">
				<div class="col-auto mobile-menu-button align-middle">
					<div class="dropdown show">
						<a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="~/Images/menu-button-fix.png" /> &nbsp;<i class="fa fa-bars"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							@foreach (var MenuItem in ViewBag.MenuItems)
							{
								<a href="@MenuItem.url" class="dropdown-item float-left"><img src="@MenuItem.icon" width="32px" height="32px" />&nbsp;@MenuItem.text</a>
							}
						</div>
					</div>
				</div>
				<div class="col-auto optel-logo">
					<img src="~/Images/favicon.png" width="48px" height="48px" />OPTEL
				</div>
			</div>
		</div>
		<div class="col-auto optel-logo">
		</div>
		<div class="col-auto login-menu">
			@Html.Partial("_LoginPartial")
		</div>
	</div>
	<div class="row">
		<div class="col-auto left-page">
			@foreach (var MenuItem in ViewBag.MenuItems)
			{
				<a href="@MenuItem.url" class="btn btn-dark left-menu-btn"><div class="float-left"><img src="@MenuItem.icon" width="32px" height="32px" />&nbsp;@MenuItem.text</div></a>
				<br />
			}
		</div>
		<div class="col right-page">


			@RenderBody()
		</div>
	</div>
	<script>
		window.onload = function () {
			// <:
			document.body.innerHTML = document.body.innerHTML.replace("System.Collections.Generic.List`1[ASP._Page_Views_Shared__Layout_cshtml+MenuItem];)", "");
		}
	</script>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
