<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Optel - @ViewBag.Title</title>
	@Styles.Render("~/Content/css")
</head>
<body>
	<div class="top-menu row">
		<div class="col-4">
			<div class="logo-text"><img src="~/Images/favicon.png" width="48px" height="48px" />OPTEL</div>
		</div>
		<div class="col-8">
			@Html.Partial("_LoginPartial")
		</div>
	</div>
		<div class="row">
			<div class="col-3" style="border: 1px solid white;">
				Menu
			</div>
			<div class="col-9" style="border: 1px solid white;">
				@RenderBody()
			</div>
		</div>
		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		@RenderSection("scripts", required: false)
</body>
</html>
